node_modules
.env
dist
build
frontend/text.js
backend/uploads/*
!backend/uploads/.gitkeep

backend/downloads/*
!backend/downloads/.gitkeep


checkpoints.txt
error.log
docs
.megaignore
vercel.txt
.vscode